<table class="table table-hover">
    <div class="row">
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <table cellpadding="10" cellspacing="10" border="5">
                    <tr>
                        <th *ngFor="let header of tableHeaders" style="text-align: center; background-color: darkgrey;">{{header}}</th>
                    </tr>           
                    <tr *ngFor="let employee of employees">
                        <td style="text-align: center">{{employee.id}}</td>
                        <td style="text-align: center">{{employee.firstName}}</td>
                        <td style="text-align: center">{{employee.lastName}}</td>
                        <td style="text-align: center">{{employee.contactNo}}</td>
                        <td style="text-align: center">{{employee.username}}</td>
                        <td style="text-align: center">{{employee.emailId}}</td>
                        <td style="text-align: center">
                            <button type="button" class="btn btn-info" (click)="updateEmployee(employee.id)">Edit</button>
                            <button type="button" class="btn btn-danger" style="margin-left: 10px" (click)="openModal(employee.id)">Deactivate</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</table>

